*
{
    margin: 0;
    padding: 0;

}
.logo
{
    width: 100px;
    height: 100px;
    padding-left:30px;
    display: inline;
}
.navbar 
{
    width: 100%;
    height: 80px;
    top:0;
    left: 0;
    background: rgba(178, 25, 25,1);
    padding-top: 16px;
    padding-left: 210px;
    
}
.logo__title
{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    display: inline-flex;
    letter-spacing: 1px;
    font-size: 22px;
    color: #002147;
    text-align: left;
    text-transform:uppercase;
}
.clg
{
    float: left;
    display: block;
}
.container
{
    width: 74%;
    height: 100px;
    top: -40px;
    left: 190px;
    background: rgb(248, 246, 246);
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.499) ;
}
.nav-items
{
    
    display: inline-block;
    padding: 10px;
    font-size: 15px;
    text-decoration: none;
    color: black;

}
.nav-items:hover
{
    text-decoration:underline;
    color:red;
}
.nav
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 14px;
}
.code
{
    width: 100%;
    height: 10px;
    border: solid;
    border-color: white;
    border-width: 6px;
    border-radius: 16px;
    background-color: white;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.nav-item
{
    color: rgba(255, 255, 255, 0.5);
    line-height: 1;
    font-family: 'Work Sans',sans-serif;
    font-size: 13px;
    box-sizing: border-box;
    text-decoration: none;
    padding-left: 35px;
    padding-inline-end: 80px;
}
.icon
{
    width: 18px;
    height: 18px;
    position: relative;
    left: 36px;
    top: 4px;
}
.nav-item:hover
{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}
.search-box 
{
    border: none;
    border-bottom: 1px solid rgb(249, 245, 245);
    background: transparent;
    outline: none;
    height: 30px;
    color: #fff;
    width: 250px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}
.search-box:focus
{
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
    text-indent: 4px;
}
.stm-icon
{
    width: 18px;
    height: 18px;
    cursor: pointer;
}
button
{
    color: white;
    background-color: rgba(178, 25, 25,1);
    border: none;
    width: 100px;
    height: 36px;
    border-radius: 4px;
    font-size:medium;
}
.logo__inner
{
    float: right;
}
.container2
{
    margin: 10px;
    float: left;
    display: block;
}
.img
{
    width:50%;
    height: auto;
}
.para
{
    width: 48%;
    float: right;
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.para2
{
    line-height: 38px;
    color: #595959;
    font-size: x-large;
}
.para3
{
    margin: 10px;
    font-family:'Times New Roman', Times, serif;
    font-size:x-large;
}
.admi
{
    text-decoration:underline;
    padding: 20px;
}
