*
{
    margin: 0 ;
    padding: 0;
}
body
{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(Employee.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: aliceblue;
}
header
{
    border: 10px;
    border-radius: 10px;
    padding: 40px;
    background-color: rgba(0, 255, 255, 0.518);
    margin: 25px;
    width: 600px;
    height: auto;
    margin-top: 50px;
    text-align: center;
    
}
.list
{
    text-align: left;
    padding-left: 7em;
}
h1
{
    color: rgba(233, 14, 14, 0.555);
    text-align: center;

}
h2
{
    color: red;
}
.lab1
{

    width: 250px;
    height: 70px;
}
input
{
    border-radius: 10px;
    border-color: aliceblue;
    
}
button
{
    background-color: rgba(0, 0, 255, 0.682);
    border-radius: 4px;
    border-color: rgba(0, 0, 255, 0.69);
    color: aliceblue;
    height: 30px;
    width: 120px;
}
